@tailwind base;
@tailwind components;
@tailwind utilities;

.checkbox-round {
  width: 1em;
  height: 1em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid black;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: #2563eb;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 25px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 25px;
}

main.dark .custom-scrollbar::-webkit-scrollbar-track {
  background: white;
}

main.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: black;
}

main.light .custom-scrollbar::-webkit-scrollbar-track {
  background: black;
}
main.light .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: white;
}

main.default .custom-scrollbar::-webkit-scrollbar-track {
  background: blue;
}

main.default .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: gray;
}
