@tailwind base;
@tailwind components;
@tailwind utilities;

.checkbox-round {
  width: 1em;
  height: 1em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid black;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: #2563eb;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: black;
  border-radius: 0 25px 25px 0;
}

::-webkit-scrollbar-thumb {
  background: #14b8a6;
  border-radius: 25px;
}
